@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville:wght@700&family=Montserrat:wght@100&family=Play&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.header {
  /* border: 1px solid black; */


  font-family: 'Bebas Neue', cursive;







  box-shadow: 0px 1px 20px 5px rgb(10, 10, 10);
  width: 100%;
  display: flex;
  background-color: rgb(36, 36, 36);
  justify-content: center;
  font-weight: 900;
  word-spacing: 0.3em;
  letter-spacing: 1px;
  color: white;
  font-size: 2vh;
  position: fixed;
  z-index: 100;
  transition: all 1s ease;
  padding: 1rem 0rem;
  text-transform: uppercase;
  cursor: pointer;

  text-shadow: 2px 2px 1px rgb(220, 220, 220);
}
@media (max-width: 350px) {
  .header {
    font-size: 2vh;
    letter-spacing: normal;
    word-spacing: normal;
    font-weight: 100;
  }
}
